[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
imutils = "*"
numpy = "*"
opencv-python = "*"
scipy = "*"

[requires]
python_version = "3.7"
